@import "tailwindcss";

/* Logo flip animation */
.logo-flip {
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.logo-flip:hover {
  transform: scale(1.1) rotateY(180deg);
}

body{
    background-color: black;
}
@media (min-width: 48rem) {
  .text {
    top: 26%;
  }
}

@media (min-width: 64rem) {
  .text {
    top: 30%;
  }
}

@media (min-width: 80rem) {
  .text {
    top: 35%;
  }
}
@media (min-width: 96rem) {
  .text {
    top: 40%;
  }
}
@media (min-width: 1280px) {
  .text {
    top: 45%;
  }
}
@media (min-width: 1536px) {
  .text {
    top: 50%;
  }
}
@media (min-width: 1920px) {
  .text {
    top: 52%;
  }
}
@media (min-width: 1024px) {
  .company {
    top: 55%;
  }
}

/* .-mt-1 {
    margin-top: calc(var(--spacing) * -12);
} */